header {
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff;
}

header .site-title {
  text-shadow: 2px 2px 2px #666;
  padding: 12px 20px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 36px;
  list-style: none;
}

header ul a {
  padding: 2px 12px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

header ul a:hover {
  cursor: pointer;
  color: orange;
  opacity: 0.6;
  border-bottom: 2px solid orange;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

header ul a:active {
  background-color: gold;
}

.first-v {
  height: 400px;
  background: linear-gradient(135deg, rgba(0, 200, 200, 0.4), rgba(0, 240, 0, 0.4)), url(https://picsum.photos/1200/400);
  background-size: cover;
  position: relative;
}

.first-v .first-v-content {
  color: #eee;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content-title {
  margin: 24px 12px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .card {
  width: 300px;
  border-radius: 12px;
  padding: 24px;
  margin: 20px;
  -webkit-box-shadow: 4px 4px 8px #666;
          box-shadow: 4px 4px 8px #666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .card img {
  width: 100%;
  height: 225px;
}

.content .card h3 {
  text-align: center;
  margin: 16px 0 12px;
}

.form-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-wrapper #contact {
  margin: 0 auto;
}

.form-wrapper #contact .contact-title {
  text-align: center;
}

.form-wrapper #contact .text-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
  padding-right: 100px;
}

.form-wrapper #contact .text-input label {
  width: 120px;
  text-align: right;
}

.form-wrapper #contact .text-input input {
  width: 70%;
}

.form-wrapper #contact .content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 100px;
}

.form-wrapper #contact .content-form label {
  width: 120px;
  text-align: right;
}

.form-wrapper #contact .content-form textarea {
  width: 70%;
}

.form-wrapper #contact button {
  width: 100%;
}

footer {
  background-color: aquamarine;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 8px;
  text-shadow: 1px 1px 1px #666;
}

footer small {
  font-weight: bold;
  margin-right: 12px;
}

footer a {
  margin-right: 8px;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */