.first-v {
	height: 400px;
	background: linear-gradient(
			135deg,
			rgba(0, 200, 200, 0.4),
			rgba(0, 240, 0, 0.4)
		),
		url(https://picsum.photos/1200/400);
	background-size: cover;
	position: relative;

	.first-v-content {
		color: #eee;
		font-size: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
