footer {
	background-color: aquamarine;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding: 8px;
	text-shadow: 1px 1px 1px #666;

	small {
		font-weight: bold;
		margin-right: 12px;
	}
	a {
		margin-right: 8px;
		color: #fff;
	}
}
